.new-training {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
}

.is-phone-portrait {
  width: 100%;
}

mat-card {
  width: 400px;
  margin: 40px 0;
}
mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
.start-training {
  margin: 0 10px 10px 0;
}

.is-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
