<mat-nav-list (click)="onCloseSidenav()">
    <a mat-list-item routerLink="/signup">
        <mat-icon class="nav-icon">app_registration</mat-icon>
        <span class="nav-caption">Signup</span>
    </a>
    <a mat-list-item routerLink="/login">
        <mat-icon class="nav-icon">login</mat-icon>
        <span class="nav-caption">Login</span>
    </a>
    <a mat-list-item routerLink="/training">
        <mat-icon class="nav-icon">fitness_center</mat-icon>
        <span class="nav-caption">Training</span>
    </a>
    <a mat-list-item>
        <mat-icon class="nav-icon">logout</mat-icon>
        <span class="nav-caption">Logout</span>
    </a>
</mat-nav-list>