a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

.nav-icon, .nav-caption {
    vertical-align: middle;   
    display: inline-block;
    padding-left: 6px; 
}

.mat-icon {
    cursor: pointer;
}