mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

a:hover, a:active {
    color: lightgray;
}

.toolbar-container {
    display: flex;
}

.toolbar-button {
    flex: 0 0 5%;
}

.toolbar-logo {
    flex: 0 0 5%;
}

.toolbar-nav {
    flex: 0 0 90%;
    display: flex;
    justify-content: flex-end;
}

.toolbar-nav.is-phone-portrait {
   display: none;
}

.navigation-items {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
}
