<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (sidenavClose)="sidenav.close()" [isPhonePortrait]="isPhonePortrait" [isTabletPortrait]="isTabletPortrait"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()" [isPhonePortrait]="isPhonePortrait" [isTabletPortrait]="isTabletPortrait"></app-header>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
